<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!--配置User对象-->
    <bean id="user" class="com.atguigu.spring5.User"/>

    <bean id="book" class="com.atguigu.spring5.Book">
        <!--使用有参构造方法进行属性注入-->
        <constructor-arg name="bname" value="abc"/>
        <constructor-arg name="bauthor" value="china"/>
        <!--使用set方法进行属性注入，这个会覆盖有参构造的值-->
        <property name="bname">
            <value><![CDATA[《高等数学》]]></value>
        </property>
        <property name="bauthor" >
            <null/>
        </property>
    </bean>

    <!-- 外部bean-->
    <!-- 创建service和dao对象，接口不能作为对象，需要找它的实现类 -->
    <bean id="UserDaoImpl" class="com.atguigu.spring5.outsidebean.UserDaoImpl"/>
    <bean id="userService" class="com.atguigu.spring5.outsidebean.UserService">
        <!-- 注入dao对象
            name：service类中的属性名称
            ref：创建userDao对象的bean标签的ID值
        -->
        <property name="userDao" ref="UserDaoImpl"/>
    </bean>

    <!-- 内部bean-->
    <bean id="emp" class="com.atguigu.spring5.insidebean.Emp">
        <property name="ename" value="lucy"/>
        <property name="gender" value="女"/>
        <property name="dept">
            <!-- name和id没有特别的联系-->
            <bean id="dept" class="com.atguigu.spring5.insidebean.Dept">
                <property name="dname" value="安保部"/>
            </bean>
        </property>
    </bean>
    <!-- 级联赋值-->
    <bean id="emp2" class="com.atguigu.spring5.insidebean.Emp">
        <property name="ename" value="Mike"/>
        <property name="gender" value="男"/>
        <!-- 需要先注入Dept类-->
        <property name="dept" ref="dept2"/>
        <!-- 然后通过Emp提供的getDept方法，得到Dept对象-->
        <property name="dept.dname" value="技术部"/>
    </bean>
    <bean id="dept2" class="com.atguigu.spring5.insidebean.Dept"/>

    <util:list id="courseList">
        <value>张三</value>
        <value>小三</value>
    </util:list>

    <!-- 注入集合类型属性-->
    <bean id="student" class="com.atguigu.spring5.collectionbean.Student">
        <!-- 数组类型-->
        <property name="courses">
            <array>
                <value>语文</value>
                <value>数学</value>
                <value>英语</value>
            </array>
        </property>
        <!-- list类型-->
        <property name="list" ref="courseList">
            <!--            <list>-->
            <!--                <value>张三</value>-->
            <!--                <value>小三</value>-->
            <!--            </list>-->
        </property>
        <!-- map类型-->
        <property name="map">
            <map>
                <entry key="JAVA" value="java"/>
                <entry key="PHP" value="php"/>
            </map>
        </property>
        <!-- set类型赋值-->
        <property name="set">
            <set>
                <value>MySQL</value>
                <value>Redis</value>
            </set>
        </property>
        <!-- List类型赋值，但是值是对象-->
        <property name="courseList">
            <list>
                <ref bean="course1"/>
                <ref bean="course2"/>
            </list>
        </property>
    </bean>
    <!-- 创建多个course对象 -->
    <bean id="course1" class="com.atguigu.spring5.collectionbean.Course">
        <property name="cname" value="政治"/>
    </bean>
    <bean id="course2" class="com.atguigu.spring5.collectionbean.Course">
        <property name="cname" value="历史"/>
    </bean>


    <!--工厂bean-->
    <bean id="mybean" class="com.atguigu.spring5.factorybean.MyBean" />

    <!--bean生命周期-->
    <bean id="order" class="com.atguigu.spring5.lifecycle.Order"
          init-method="initMethod"
          destroy-method="destroyMethod">
        <property name="oname" value="手机"/>
    </bean>

    <!--后置处理器，添加之后上面所有bean都会认为添加了后置处理器-->
<!--    <bean id="myPostBean" class="com.atguigu.spring5.lifecycle.myPostProcessor"/>-->

    <!--自动装配
        bean 标签属性 autowire，配置自动装配
        autowire 属性常用两个值：
            byName 根据属性名称注入 ，注入值 bean 的 id 值和类属性名称一样
            byType 根据属性类型注入
    -->
    <bean id="emp_a" class="com.atguigu.spring5.autowire.Emp" autowire="byName"/>
    <bean id="dept_a" class="com.atguigu.spring5.autowire.Dept"/>
</beans>
